@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #111827; /* text-gray-900 */
}
